@media only screen and (min-width: 501px) and (max-width: 780px){      

/*bienvenidos*/
.contenedor-grid {
    grid-template-areas:
        
        "img2"
        "tex1"
        "img1"
        "tex2";
    grid-template-columns: 100%;
    grid-template-rows: 350px 420px 600px 200px;
    
    img {
        width: 50%;
        
    }
    .grid-tex-1,.grid-tex-2{
        font-size: 2.5rem;
        text-align: center;
    }

  }


      }
   
   
   
   
   @media only screen and (max-width: 500px){

        header{

            .navColor{

                img{
                    width: 25px;
                }

            }
            
        }

        /*bienvenidos*/
      .contenedor-grid {
        grid-template-areas:
            
            "img2"
            "tex1"
            "img1"
            "tex2";
        grid-template-columns: 100%;
        grid-template-rows: 200px 420px 600px 200px;
        
        img {
            width: 50%;
            
        }
        .grid-tex-1,.grid-tex-2{
            font-size: 2rem;
            text-align: center;
        }

      }

      /* Productos*/

      .produOrden{
        flex-direction: column;
        align-items: center;

        .produCard{

            width: 80%;
            margin-bottom: 10px;
            
           
            ul{

                h3{
                    font-size: 2rem;
                }
                h4{
                    font-size: 1.5rem;
                }
                
                li{
                    font-size: 1.4rem;
                    color: $negro;
                    text-align: left;
                }
            }
        }
    }
    
    

    /*Galeria*/

    h1{

        font-size: 3rem;
    }

    h2{
        font-size: 2.5rem;
    }

    .orden{
    
        flex-direction: row;
       
    
        .galeriaOrden{

            width: 45%;
            margin-bottom: 5px;

            h3{
                font-size: 2rem;
            }
                img{
                    padding: 5px 5px;
                    border-radius: 10px;
                }
        }
    }
    
}


